<div id="nav-bar">
  <div id="nav-bar-content">
    <div id="nav-bar-left">
      <div id="nav-bar-internal">
        <h1 id="nav-bar-items">Burgas</h1> <h3>Bag</h3>
      </div>
    </div>
    <div *ngIf="!loggedIn()"
     (click)="onLoginClick()"
     id="nav-bar-right">
        <div id="nav-bar-items">Login</div>
    </div>
    <div *ngIf="loggedIn()" 
    (click)="onLogoutClick()"
     id="nav-bar-right">
        <div id="nav-bar-items">LogOut</div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
